# Assignment 02: Evaluate the FAA Dataset

#### 1: VIew and import the dataset

In [2]:
#Import necessary libraries
import numpy as np
import pandas as pd

In [3]:
#Import the FAA (Federal Aviation Authority) dataset
df_FAA = pd.read_csv('faa_ai_prelim.csv')

#### 2: View and understand the dataset

In [4]:
#View the dataset shape
df_FAA.shape

(83, 42)

In [5]:
#View the first five records
df_FAA.head()

,UPDATED,ENTRY_DATE,EVENT_LCL_DATE,EVENT_LCL_TIME,LOC_CITY_NAME,LOC_STATE_NAME,LOC_CNTRY_NAME,RMK_TEXT,EVENT_TYPE_DESC,FSDO_DESC,...,PAX_INJ_NONE,PAX_INJ_MINOR,PAX_INJ_SERIOUS,PAX_INJ_FATAL,PAX_INJ_UNK,GRND_INJ_NONE,GRND_INJ_MINOR,GRND_INJ_SERIOUS,GRND_INJ_FATAL,GRND_INJ_UNK
0,No,19-FEB-16,19-FEB-16,00:45:00Z,MARSHVILLE,North Carolina,NaN,"AIRCRAFT CRASHED INTO TREES, THE 1 PERSON ON B...",Accident,FAA Charlotte FSDO-68,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,No,19-FEB-16,18-FEB-16,23:55:00Z,TAVERNIER,Florida,NaN,AIRCRAFT ON LANDING WENT OFF THE END OF THE RU...,Incident,FAA Miami FSDO-19,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,No,19-FEB-16,18-FEB-16,22:14:00Z,TRENTON,New Jersey,NaN,"AIRCRAFT ON FINAL SUSTAINED A BIRD STRIKE, LAN...",Incident,FAA Philadelphia FSDO-17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,No,19-FEB-16,18-FEB-16,17:10:00Z,ASHEVILLE,North Carolina,NaN,"AIRCRAFT ON LANDING, GEAR COLLAPSED, ASHEVILLE...",Incident,FAA Charlotte FSDO-68,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,No,19-FEB-16,18-FEB-16,00:26:00Z,TALKEETNA,Alaska,NaN,"AIRCRAFT ON LANDING, NOSE GEAR COLLAPSED, TALK...",Incident,FAA Anchorage FSDO-03,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
#View all the columns present in the dataset
df_FAA.columns

Index(['UPDATED', 'ENTRY_DATE', 'EVENT_LCL_DATE', 'EVENT_LCL_TIME',
       'LOC_CITY_NAME', 'LOC_STATE_NAME', 'LOC_CNTRY_NAME', 'RMK_TEXT',
       'EVENT_TYPE_DESC', 'FSDO_DESC', 'REGIST_NBR', 'FLT_NBR', 'ACFT_OPRTR',
       'ACFT_MAKE_NAME', 'ACFT_MODEL_NAME', 'ACFT_MISSING_FLAG',
       'ACFT_DMG_DESC', 'FLT_ACTIVITY', 'FLT_PHASE', 'FAR_PART', 'MAX_INJ_LVL',
       'FATAL_FLAG', 'FLT_CRW_INJ_NONE', 'FLT_CRW_INJ_MINOR',
       'FLT_CRW_INJ_SERIOUS', 'FLT_CRW_INJ_FATAL', 'FLT_CRW_INJ_UNK',
       'CBN_CRW_INJ_NONE', 'CBN_CRW_INJ_MINOR', 'CBN_CRW_INJ_SERIOUS',
       'CBN_CRW_INJ_FATAL', 'CBN_CRW_INJ_UNK', 'PAX_INJ_NONE', 'PAX_INJ_MINOR',
       'PAX_INJ_SERIOUS', 'PAX_INJ_FATAL', 'PAX_INJ_UNK', 'GRND_INJ_NONE',
       'GRND_INJ_MINOR', 'GRND_INJ_SERIOUS', 'GRND_INJ_FATAL', 'GRND_INJ_UNK'],
      dtype='object')

#### 3: Extract the following attributes from the dataset:
1. Aircraft make name
2. State name
3. Aircraft model name
4. Text information
5. Flight phase
6. Event description type
7. Fatal flag

In [18]:
#Create a new dataframe with only the required columns
a = df_FAA[['ACFT_MAKE_NAME','LOC_STATE_NAME','ACFT_MODEL_NAME','RMK_TEXT','FLT_PHASE','EVENT_TYPE_DESC','FATAL_FLAG']]
a

,ACFT_MAKE_NAME,LOC_STATE_NAME,ACFT_MODEL_NAME,RMK_TEXT,FLT_PHASE,EVENT_TYPE_DESC,FATAL_FLAG
0,BEECH,North Carolina,36,"AIRCRAFT CRASHED INTO TREES, THE 1 PERSON ON B...",UNKNOWN (UNK),Accident,Yes
1,VANS,Florida,RV7,AIRCRAFT ON LANDING WENT OFF THE END OF THE RU...,LANDING (LDG),Incident,NaN
2,CESSNA,New Jersey,172,"AIRCRAFT ON FINAL SUSTAINED A BIRD STRIKE, LAN...",APPROACH (APR),Incident,NaN
3,LANCAIR,North Carolina,235,"AIRCRAFT ON LANDING, GEAR COLLAPSED, ASHEVILLE...",LANDING (LDG),Incident,NaN
4,CESSNA,Alaska,172,"AIRCRAFT ON LANDING, NOSE GEAR COLLAPSED, TALK...",LANDING (LDG),Incident,NaN
...,...,...,...,...,...,...,...
78,AERONCA,Texas,O58B,"AIRCRAFT ON LANDING, GROUND LOOPED, BULVERDE A...",LANDING (LDG),Accident,NaN
79,NORTH AMERICAN,Arizona,F51,"AIRCRAFT CRASHED UNDER UNKNOWN CIRCUMSTANCES, ...",UNKNOWN (UNK),Accident,Yes
80,CHAMPION,California,8KCAB,"N9872R, BEECH M35 AIRCRAFT, AND N5057G, BELLAN...",UNKNOWN (UNK),Accident,Yes
81,BEECH,California,35,"N9872R, BEECH M35 AIRCRAFT, AND N5057G, BELLAN...",UNKNOWN (UNK),Accident,Yes
82,CESSNA,Alabama,182,N784CP AIRCRAFT CRASHED INTO A WOODED AREA NEA...,UNKNOWN (UNK),Accident,Yes

In [4]:
#View the type of the object
a.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83 entries, 0 to 82
Data columns (total 7 columns):
ACFT_MAKE_NAME     78 non-null object
LOC_STATE_NAME     83 non-null object
ACFT_MODEL_NAME    79 non-null object
RMK_TEXT           83 non-null object
FLT_PHASE          82 non-null object
EVENT_TYPE_DESC    83 non-null object
FATAL_FLAG         8 non-null object
dtypes: object(7)
memory usage: 4.7+ KB

In [12]:
#Check if the dataframe contains all the required attributes
a.columns

Index(['ACFT_MAKE_NAME', 'LOC_STATE_NAME', 'ACFT_MODEL_NAME', 'RMK_TEXT',
       'FLT_PHASE', 'EVENT_TYPE_DESC', 'FATAL_FLAG'],
      dtype='object')

#### 4. Clean the dataset and replace the fatal flag NaN with “No”

In [22]:
#Replace all Fatal Flag missing values with the required output
a['FATAL_FLAG'].fillna('No', inplace = True)

In [23]:
#Verify if the missing values are replaced
a.head(12)

,ACFT_MAKE_NAME,LOC_STATE_NAME,ACFT_MODEL_NAME,RMK_TEXT,FLT_PHASE,EVENT_TYPE_DESC,FATAL_FLAG
0,BEECH,North Carolina,36,"AIRCRAFT CRASHED INTO TREES, THE 1 PERSON ON B...",UNKNOWN (UNK),Accident,Yes
1,VANS,Florida,RV7,AIRCRAFT ON LANDING WENT OFF THE END OF THE RU...,LANDING (LDG),Incident,No
2,CESSNA,New Jersey,172,"AIRCRAFT ON FINAL SUSTAINED A BIRD STRIKE, LAN...",APPROACH (APR),Incident,No
3,LANCAIR,North Carolina,235,"AIRCRAFT ON LANDING, GEAR COLLAPSED, ASHEVILLE...",LANDING (LDG),Incident,No
4,CESSNA,Alaska,172,"AIRCRAFT ON LANDING, NOSE GEAR COLLAPSED, TALK...",LANDING (LDG),Incident,No
5,BELL,Hawaii,206,N80918 BELL 206B ROTORCRAFT CRASHED INTO THE W...,UNKNOWN (UNK),Accident,No
6,PIPER,Florida,PA24,"AIRCRAFT GEAR COLLAPSED ON LANDING, BROOKSVILL...",LANDING (LDG),Incident,No
7,CESSNA,Florida,210,"AIRCRAFT ON LANDING GEAR COLLAPSED, WINTER HAV...",LANDING (LDG),Incident,No
8,BOEING,Florida,747,N859GT ATLAS AIR FLIGHT GTI33 BOEING 747 AIRCR...,TAKEOFF (TOF),Incident,No
9,NaN,Florida,NaN,"AIRCRAFT, LSA PARADISE P1, ON LANDING NOSE GE...",LANDING (LDG),Incident,No
10,CESSNA,Virginia,172,AIRCRAFT ON LANDING WENT OFF THE RUNWAY INTO A...,LANDING (LDG),Incident,No
11,NaN,Arizona,FIREFLY,"N2194X FIREFLY 9 BALLOON, ON LANDING STRUCK TH...",LANDING (LDG),Incident,No

In [16]:
#Check the number of observations
a.isnull().sum()

ACFT_MAKE_NAME     5
LOC_STATE_NAME     0
ACFT_MODEL_NAME    4
RMK_TEXT           0
FLT_PHASE          1
EVENT_TYPE_DESC    0
FATAL_FLAG         0
dtype: int64

#### 5. Remove all the observations where aircraft names are not available

In [35]:
#Drop the unwanted values/observations from the dataset
a.dropna(inplace = True)

C:\Jupyter Notebook\saln\Installed anaconda setup\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

#### 6. Find the aircraft types and their occurrences in the dataset

In [36]:
#Check the number of observations now to compare it with the original dataset and see how many values have been dropped
a.isnull().sum()

ACFT_MAKE_NAME     0
LOC_STATE_NAME     0
ACFT_MODEL_NAME    0
RMK_TEXT           0
FLT_PHASE          0
EVENT_TYPE_DESC    0
FATAL_FLAG         0
dtype: int64

In [20]:
#Group the dataset by aircraft name
grouped = df_FAA.groupby('ACFT_MODEL_NAME')

In [21]:
#View the number of times each aircraft type appears in the dataset (Hint: use the size() method)
grouped.size()

ACFT_MODEL_NAME
140              1
150              3
152              2
172              4
175              1
180              1
182              2
206              3
210              4
235              1
2T1A             1
310              2
33               1
340              1
35               3
36               3
369              1
47G              1
500              1
55               1
560              1
737              2
747              1
8KCAB            2
A319             1
AA1              1
BT15             1
CTLS             1
EAGLE II         1
ERJ190           1
F51              1
FIREFLY          1
GC1B             1
GULFSTREAM200    1
IV               1
KITFOX           1
M20E             1
M20K             2
M20M             1
M4               1
NA265            1
O58B             1
PA20             1
PA24             2
PA28             3
PA31             1
PA34             3
PT19             1
RV7              1
RX8              1
S2               1
T34              1
TB21             1
TB9              1
dtype: int64

#### 7: Display the observations where fatal flag is “Yes”

In [43]:
#Group the dataset by fatal flag
group = df_FAA.groupby('FATAL_FLAG')

In [20]:
# df = df_FAA.replace(to_replace = np.nan,value = "No")  Another way to fill NaN values with No by replacing

In [46]:
#View the total number of fatal and non-fatal accidents
group.size()

FATAL_FLAG
Yes    8
dtype: int64

In [50]:
#Create a new dataframe to view only the fatal accidents (Fatal Flag values = Yes)
df_Fatal = pd.DataFrame(a['FATAL_FLAG'])
df_Fatal

   FATAL_FLAG
0         Yes
1          No
2          No
3          No
4          No
..        ...
78         No
79        Yes
80        Yes
81        Yes
82        Yes

[76 rows x 1 columns]